header {
	background-size: cover;
	text-align: center;
	font-size: 25px;
}
h1 {
	font-family: 'Helvetica', sans-serif;
	color: #04B404;
	font-size: 50px;
	font-weight: 100px;
}

.header-image {
	margin-top: 50px;
	height: 50px;
	width: 50px;
	border: 50px solid white;
}

ul {
	background-color: teal;
	background-opacity:0.6%;
	padding: 10px 10px 10px 10px;
	text-align: center;
}

li {
	display:right;
}

article {
    margin-top: 50px;
    display: block;
}

div{

}
.pink-box{
  width: 1400px;
  height: 50px;
  background:#A9F5F2;
  float: center;
  text-align: center;
}

.magenta-box{
  width: 1400px;
  height: 50px;
  background:#084B8A;
  float: center;
  text-align: center;
}

.column-box{
  width: 2500px;
  height: 50px;
  background:#CEE3F6;
  float: center;
  text-align: center;
}

#nav1 {
    line-height:30px;
    background-color:#CEE3F6;
    height:200px;
    width:375px;
    float:left;
    text-align: center;
}
#nav2{
  line-height:30px;
  background-color:#CEE3F6;
  height:200px;
  width:375px;
  float:left;
  margin-left: 30px
}